
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>
<script src="http://code.highcharts.com/highcharts.js">
</script>
<script src="http://code.highcharts.com/modules/exporting.js">
</script>


<div id="chart_single" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_single_rel" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_double" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_double_rel" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_complex_single" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_complex_single_rel" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_complex_double" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_complex_double_rel" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script type="text/javascript">

var sizes = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100,
    200, 300, 500, 600, 700, 800, 900, 1000,
    1200, 1400, 1600, 1800, 2000];

var mir_single = [ 10, 26.6667, 31.7647, 49.2308, 45.4545, 53.3333, 49, 63.2099, 56.0769, 65.1466, 75.4361, 77.5416, 79.7321, 84.3569, 83.5984, 83.667, 85.0255, 83.7517, 84.9272, 85.3299, 85.8983, 85.1685, 85.9424, ];

var eigen_single = [ 5, 17.7778, 23.4783, 45.7143, 45.4545, 45.9574, 45.7333, 59.1908, 57.6285, 64.3087, 72.5953, 74.9584, 77.5964, 84.1892, 83.8037, 82.9869, 82.1459, 78.0287, 78.4873, 80.1391, 80.9116, 81.2308, 81.1047, ];

var openblas_single = [ 6.66667, 17.7778, 20, 31.2195, 32.8947, 37.8947, 36.1053, 46.1261, 42.5073, 50.1253, 63.4921, 68.5366, 75.6018, 77.5709, 75.5998, 72.8841, 73.8022, 74.7842, 74.4675, 75.5042, 74.456, 75.752, 75.7596, ];

var intel_single = [ 10, 32, 38.5714, 53.3333, 49.0196, 49.6552, 52.7692, 62.439, 59.5102, 63.2911, 73.4282, 72.4055, 82.8775, 83.2851, 83.455, 84.0205, 82.9436, 82.7044, 82.9023, 83.4709, 84.4144, 84.9256, 85.388, ];

var apple_single = [ 10, 32, 22.5, 38.7879, 46.2963, 59.1781, 41.8293, 50.1961, 52.6354, 60.7903, 61.9435, 75.864, 73.8334, 78.4086, 77.5325, 72.8432, 77.3959, 74.4474, 75.6516, 73.8256, 75.0209, 75.9064, 75.0853, ];

var mir_double = [ 10, 20, 25.7143, 29.0909, 28.0899, 31.7647, 31.7593, 33.1392, 34.5498, 35.3357, 39.0054, 41.049, 40.8197, 41.1915, 40.6497, 39.8137, 40.3826, 41.292, 39.9376, 41.0561, 39.3492, 40.0552, 41.9794, ];

var eigen_double = [ 5, 16, 18, 23.7037, 25.5102, 29.589, 29.0678, 32, 30.124, 32.1027, 37.2873, 37.4376, 39.5501, 40.1163, 39.2541, 38.9293, 37.4263, 38.362, 39.1726, 39.3022, 38.5115, 39.5129, 39.6073, ];

var openblas_double = [ 6.66667, 12.3077, 15, 17.2973, 20.3252, 22.8571, 22.6403, 25.8586, 26.3177, 28.5307, 34.5796, 35.9043, 38.133, 39.1053, 39.4325, 39.4231, 39.5458, 39.3619, 39.4518, 39.2612, 39.4028, 39.7043, 40.275, ];

var intel_double = [ 10, 20, 18.6207, 23.7037, 22.9358, 25.8683, 27.44, 31.7028, 30.4384, 32.1543, 38.2592, 40.2955, 40.7067, 41.2233, 41.196, 41.5167, 41.4762, 41.5014, 42.1659, 42.6396, 42.4837, 42.9864, 43.3135, ];

var apple_double = [ 10, 10.6667, 14.2105, 21.6949, 26.0417, 28.9933, 25.3137, 28.0548, 29.0438, 31.6456, 34.0933, 36.4964, 36.2476, 37.4444, 37.717, 35.8503, 37.209, 35.2237, 36.0386, 36.1079, 36.2916, 36.9298, 36.1942, ];

var mir_csingle = [ 5, 10, 11.0204, 15.0588, 13.8889, 16.4259, 15.4505, 17.9335, 17.2954, 18.4162, 19.1502, 21.2674, 21.5486, 21.8573, 21.8173, 21.7568, 21.963, 22.1453, 22.1617, 22.264, 22.1296, 22.084, 22.0212, ];

var eigen_csingle = [ 2.5, 5.33333, 7.39726, 8.15287, 8.92857, 9.37093, 9.58101, 10.0196, 10.1887, 10.2775, 10.5367, 11.2091, 11.2777, 11.3102, 11.3405, 10.7769, 11.3944, 11.3029, 11.3864, 11.4277, 11.4708, 11.4863, 11.5058, ];

var openblas_csingle = [ 3.33333, 6.66667, 8.57143, 10.6667, 10.9649, 12.6686, 12.5182, 14.7338, 14.802, 15.4202, 18.269, 19.3126, 19.9578, 19.832, 20.0618, 19.708, 19.8929, 19.6968, 19.8697, 19.8517, 19.8832, 20.0947, 20.1026, ];

var intel_csingle = [ 3.33333, 8, 12.8571, 15.2381, 14.2045, 15.4839, 16.4508, 17.2681, 17.1328, 17.6678, 20.7013, 21.443, 21.6461, 21.4946, 21.65, 21.6364, 21.7628, 21.7699, 22.1064, 22.0591, 22.183, 22.421, 22.4576, ];

var apple_csingle = [ 1.81818, 4, 4.57627, 5.03937, 5.16529, 5.31365, 5.38462, 5.88506, 5.84603, 5.81058, 6.28536, 6.10425, 6.42096, 6.398, 6.39696, 6.36934, 6.37084, 6.21531, 6.29091, 6.27704, 6.33413, 6.27911, 6.31907, ];

var mir_cdouble = [ 4, 5.92593, 6.83544, 8, 8.14332, 9.01879, 8.97906, 9.2922, 9.25127, 9.7561, 10.3252, 10.5628, 10.5572, 10.6548, 10.735, 10.4021, 10.7439, 10.8849, 10.5772, 10.8421, 10.814, 10.8683, 10.8934, ];

var eigen_cdouble = [ 2.5, 3.55556, 3.97059, 4.38356, 4.5208, 4.57627, 4.71154, 4.8925, 4.94405, 4.99625, 5.28541, 5.29318, 5.29179, 5.37537, 5.36976, 5.36256, 5.33837, 5.38201, 5.39964, 5.28572, 5.42592, 5.4579, 5.43502, ];

var openblas_cdouble = [ 2.5, 4.84848, 5.5102, 6.36816, 7.18391, 8.16635, 8.00467, 8.56904, 8.61193, 8.56164, 9.72172, 9.26784, 9.87186, 9.80377, 9.79013, 9.7793, 9.77699, 9.83722, 9.83887, 9.80213, 9.9795, 9.91657, 9.86693, ];

var intel_cdouble = [ 2.5, 4, 6.66667, 7.80488, 7.37463, 7.85455, 8.41718, 8.46981, 8.68374, 8.25083, 10.1234, 10.4918, 10.6714, 10.6066, 10.8452, 10.7552, 10.9051, 10.9514, 11.074, 11.0464, 11.1363, 11.1879, 11.212, ];

var apple_cdouble = [ 1.81818, 2.35294, 2.53521, 2.66112, 2.71739, 2.77101, 2.70932, 2.91406, 2.74783, 2.95029, 3.13118, 3.17823, 3.17182, 3.16436, 3.15685, 3.14245, 3.13947, 3.15791, 3.16475, 3.13441, 3.14434, 3.0758, 3.11355, ];

var mir_single_norm = new Array(sizes.length);
var eigen_single_norm = new Array(sizes.length);
var openblas_single_norm = new Array(sizes.length);
var intel_single_norm = new Array(sizes.length);
var apple_single_norm = new Array(sizes.length);
var mir_double_norm = new Array(sizes.length);
var eigen_double_norm = new Array(sizes.length);
var openblas_double_norm = new Array(sizes.length);
var intel_double_norm = new Array(sizes.length);
var apple_double_norm = new Array(sizes.length);
var mir_csingle_norm = new Array(sizes.length);
var eigen_csingle_norm = new Array(sizes.length);
var openblas_csingle_norm = new Array(sizes.length);
var intel_csingle_norm = new Array(sizes.length);
var apple_csingle_norm = new Array(sizes.length);
var mir_cdouble_norm = new Array(sizes.length);
var eigen_cdouble_norm = new Array(sizes.length);
var openblas_cdouble_norm = new Array(sizes.length);
var intel_cdouble_norm = new Array(sizes.length);
var apple_cdouble_norm = new Array(sizes.length);

for(var i = 0; i < sizes.length; i++)
{
    mir_single_norm[i] = Math.trunc(mir_single[i] / mir_single[i] * 1000) / 10;
    eigen_single_norm[i] = Math.trunc(eigen_single[i] / mir_single[i] * 1000) / 10;
    openblas_single_norm[i] = Math.trunc(openblas_single[i] / mir_single[i] * 1000) / 10;
    intel_single_norm[i] = Math.trunc(intel_single[i] / mir_single[i] * 1000) / 10;
    apple_single_norm[i] = Math.trunc(apple_single[i] / mir_single[i] * 1000) / 10;
    mir_double_norm[i] = Math.trunc(mir_double[i] / mir_double[i] * 1000) / 10;
    eigen_double_norm[i] = Math.trunc(eigen_double[i] / mir_double[i] * 1000) / 10;
    openblas_double_norm[i] = Math.trunc(openblas_double[i] / mir_double[i] * 1000) / 10;
    intel_double_norm[i] = Math.trunc(intel_double[i] / mir_double[i] * 1000) / 10;
    apple_double_norm[i] = Math.trunc(apple_double[i] / mir_double[i] * 1000) / 10;
    mir_csingle_norm[i] = Math.trunc(mir_csingle[i] / mir_csingle[i] * 1000) / 10;
    eigen_csingle_norm[i] = Math.trunc(eigen_csingle[i] / mir_csingle[i] * 1000) / 10;
    openblas_csingle_norm[i] = Math.trunc(openblas_csingle[i] / mir_csingle[i] * 1000) / 10;
    intel_csingle_norm[i] = Math.trunc(intel_csingle[i] / mir_csingle[i] * 1000) / 10;
    apple_csingle_norm[i] = Math.trunc(apple_csingle[i] / mir_csingle[i] * 1000) / 10;
    mir_cdouble_norm[i] = Math.trunc(mir_cdouble[i] / mir_cdouble[i] * 1000) / 10;
    eigen_cdouble_norm[i] = Math.trunc(eigen_cdouble[i] / mir_cdouble[i] * 1000) / 10;
    openblas_cdouble_norm[i] = Math.trunc(openblas_cdouble[i] / mir_cdouble[i] * 1000) / 10;
    intel_cdouble_norm[i] = Math.trunc(intel_cdouble[i] / mir_cdouble[i] * 1000) / 10;
    apple_cdouble_norm[i] = Math.trunc(apple_cdouble[i] / mir_cdouble[i] * 1000) / 10;
}

$('#chart_single').highcharts({
    title: {
        text: 'Single precision',
        x: -20 //center
    },
    subtitle: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: sizes
    },
    yAxis: {
        min: 0,
        title: {
            text: 'GFLOPS'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' GFLOPS'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: mir_single,
        zIndex: 1,
        color: 'red'
    }, {
        name: 'Eigen',
        data: eigen_single
    }, {
        name: 'OpenBLAS',
        data: openblas_single
    }, {
        name: 'Intel MKL',
        data: intel_single 
    }, {
        name: 'Apple Accelerate',
        data: apple_single 
    }]
});

$('#chart_single_rel').highcharts({
    title: {
        text: 'Single precision, relative to Mir',
        x: -20 //center
    },
    subtitle: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: sizes
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Performance relative to Mir [%]'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' %'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: mir_single_norm,
        zIndex: 1,
        color: 'red'
    }, {
        name: 'Eigen',
        data: eigen_single_norm
    }, {
        name: 'OpenBLAS',
        data: openblas_single_norm
    }, {
        name: 'Intel MKL',
        data: intel_single_norm
    }, {
        name: 'Apple Accelerate',
        data: apple_single_norm
    }]
});

$('#chart_double').highcharts({
    title: {
        text: 'Double precision',
        x: -20 //center
    },
    subtitle: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: sizes
    },
    yAxis: {
        min: 0,
        title: {
            text: 'GFLOPS'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' GFLOPS'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: mir_double ,
        zIndex: 1,
        color: 'red'
    }, {
        name: 'Eigen',
        data: eigen_double
    }, {
        name: 'OpenBLAS',
        data: openblas_double
    }, {
        name: 'Intel MKL',
        data: intel_double 
    }, {
        name: 'Apple Accelerate',
        data: apple_double 
    }]
});

$('#chart_double_rel').highcharts({
    title: {
        text: 'Double precision, relative to Mir',
        x: -20 //center
    },
    subtitle: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: sizes
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Performance relative to Mir [%]'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' %'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: mir_double_norm ,
        zIndex: 1,
        color: 'red'
    }, {
        name: 'Eigen',
        data: eigen_double_norm
    }, {
        name: 'OpenBLAS',
        data: openblas_double_norm
    }, {
        name: 'Intel MKL',
        data: intel_double_norm 
    }, {
        name: 'Apple Accelerate',
        data: apple_double_norm 
    }]
});

$('#chart_complex_single').highcharts({
    title: {
        text: 'Complex single precision',
        x: -20 //center
    },
    subtitle: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: sizes
    },
    yAxis: {
        min: 0,
        title: {
            text: 'GFLOPS'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' GFLOPS'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: mir_csingle ,
        zIndex: 1,
        color: 'red'
    }, {
        name: 'Eigen',
        data: eigen_csingle 
    }, {
        name: 'OpenBLAS',
        data: openblas_csingle 
    }, {
        name: 'Intel MKL',
        data: intel_csingle 
    }, {
        name: 'Apple Accelerate',
        data: apple_csingle 
    }]
});

$('#chart_complex_single_rel').highcharts({
    title: {
        text: 'Complex single precision, relative to Mir',
        x: -20 //center
    },
    subtitle: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: sizes
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Performance relative to Mir [%]'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' %'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: mir_csingle_norm ,
        zIndex: 1,
        color: 'red'
    }, {
        name: 'Eigen',
        data: eigen_csingle_norm 
    }, {
        name: 'OpenBLAS',
        data: openblas_csingle_norm 
    }, {
        name: 'Intel MKL',
        data: intel_csingle_norm 
    }, {
        name: 'Apple Accelerate',
        data: apple_csingle_norm 
    }]
});

$('#chart_complex_double').highcharts({
    title: {
        text: 'Complex double precision',
        x: -20 //center
    },
    subtitle: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: sizes
    },
    yAxis: {
        min: 0,
        title: {
            text: 'GFLOPS'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' GFLOPS'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: mir_cdouble,
        zIndex: 1,
        color: 'red'
    }, {
        name: 'Eigen',
        data: eigen_cdouble
    }, {
        name: 'OpenBLAS',
        data: openblas_cdouble
    }, {
        name: 'Intel MKL',
        data: intel_cdouble
    }, {
        name: 'Apple Accelerate',
        data: apple_cdouble
    }]
});

$('#chart_complex_double_rel').highcharts({
    title: {
        text: 'Complex double precision, relative to Mir',
        x: -20 //center
    },
    subtitle: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: sizes
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Performance relative to Mir [%]'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' %'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: mir_cdouble_norm,
        zIndex: 1,
        color: 'red'
    }, {
        name: 'Eigen',
        data: eigen_cdouble_norm
    }, {
        name: 'OpenBLAS',
        data: openblas_cdouble_norm
    }, {
        name: 'Intel MKL',
        data: intel_cdouble_norm
    }, {
        name: 'Apple Accelerate',
        data: apple_cdouble_norm
    }]
});
</script>
