
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>
<script src="http://code.highcharts.com/highcharts.js">
</script>
<script src="http://code.highcharts.com/modules/exporting.js">
</script>


<div id="chart_single" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_double" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_complex_single" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="chart_complex_double" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script type="text/javascript">

$('#chart_single').highcharts({
    subtitle: {
        text: 'Single precision',
        x: -20 //center
    },
    title: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100,
    200, 300, 500, 600, 700, 800, 900, 1000,
    1200, 1400, 1600, 1800, 2000]
    },
    yAxis: {
        title: {
            text: 'GFLOPS'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' GFLOPS'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: [
            10,
            26.6667,
            31.7647,
            49.2308,
            45.4545,
            53.3333,
            49,
            63.2099,
            56.0769,
            65.1466,
            75.4361,
            77.5416,
            79.7321,
            84.3569,
            83.5984,
            83.667,
            85.0255,
            83.7517,
            84.9272,
            85.3299,
            85.8983,
            85.1685,
            85.9424,
            ]
    }, {
        name: 'OpenBLAS',
        data: [
            6.66667,
            17.7778,
            20,
            31.2195,
            32.8947,
            37.8947,
            36.1053,
            46.1261,
            42.5073,
            50.1253,
            63.4921,
            68.5366,
            75.6018,
            77.5709,
            75.5998,
            72.8841,
            73.8022,
            74.7842,
            74.4675,
            75.5042,
            74.456,
            75.752,
            75.7596,
            ]
    }, {
        name: 'Intel MKL',
        data: [
            10,
            32,
            38.5714,
            53.3333,
            49.0196,
            49.6552,
            52.7692,
            62.439,
            59.5102,
            63.2911,
            73.4282,
            72.4055,
            82.8775,
            83.2851,
            83.455,
            84.0205,
            82.9436,
            82.7044,
            82.9023,
            83.4709,
            84.4144,
            84.9256,
            85.388,
            ]
    }, {
        name: 'Apple Accelerate',
        data: [
            10,
            32,
            22.5,
            38.7879,
            46.2963,
            59.1781,
            41.8293,
            50.1961,
            52.6354,
            60.7903,
            61.9435,
            75.864,
            73.8334,
            78.4086,
            77.5325,
            72.8432,
            77.3959,
            74.4474,
            75.6516,
            73.8256,
            75.0209,
            75.9064,
            75.0853,
            ]
    }]
});

$('#chart_double').highcharts({
    subtitle: {
        text: 'Double precision',
        x: -20 //center
    },
    title: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100,
    200, 300, 500, 600, 700, 800, 900, 1000,
    1200, 1400, 1600, 1800, 2000]
    },
    yAxis: {
        title: {
            text: 'GFLOPS'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' GFLOPS'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: [
            10,
            20,
            25.7143,
            29.0909,
            28.0899,
            31.7647,
            31.7593,
            33.1392,
            34.5498,
            35.3357,
            39.0054,
            41.049,
            40.8197,
            41.1915,
            40.6497,
            39.8137,
            40.3826,
            41.292,
            39.9376,
            41.0561,
            39.3492,
            40.0552,
            41.9794,
            ]
    }, {
        name: 'OpenBLAS',
        data: [
            6.66667,
            12.3077,
            15,
            17.2973,
            20.3252,
            22.8571,
            22.6403,
            25.8586,
            26.3177,
            28.5307,
            34.5796,
            35.9043,
            38.133,
            39.1053,
            39.4325,
            39.4231,
            39.5458,
            39.3619,
            39.4518,
            39.2612,
            39.4028,
            39.7043,
            40.275,
            ]
    }, {
        name: 'Intel MKL',
        data: [
            10,
            20,
            18.6207,
            23.7037,
            22.9358,
            25.8683,
            27.44,
            31.7028,
            30.4384,
            32.1543,
            38.2592,
            40.2955,
            40.7067,
            41.2233,
            41.196,
            41.5167,
            41.4762,
            41.5014,
            42.1659,
            42.6396,
            42.4837,
            42.9864,
            43.3135,
            ]
    }, {
        name: 'Apple Accelerate',
        data: [
            10,
            10.6667,
            14.2105,
            21.6949,
            26.0417,
            28.9933,
            25.3137,
            28.0548,
            29.0438,
            31.6456,
            34.0933,
            36.4964,
            36.2476,
            37.4444,
            37.717,
            35.8503,
            37.209,
            35.2237,
            36.0386,
            36.1079,
            36.2916,
            36.9298,
            36.1942,
            ]
    }]
});

$('#chart_complex_single').highcharts({
    subtitle: {
        text: 'Complex single precision',
        x: -20 //center
    },
    title: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100,
    200, 300, 500, 600, 700, 800, 900, 1000,
    1200, 1400, 1600, 1800, 2000]
    },
    yAxis: {
        title: {
            text: 'GFLOPS'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' GFLOPS'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: [
            5,
            10,
            11.0204,
            15.0588,
            13.8889,
            16.4259,
            15.4505,
            17.9335,
            17.2954,
            18.4162,
            19.1502,
            21.2674,
            21.5486,
            21.8573,
            21.8173,
            21.7568,
            21.963,
            22.1453,
            22.1617,
            22.264,
            22.1296,
            22.084,
            22.0212,
            ]
    }, {
        name: 'OpenBLAS',
        data: [
            3.33333,
            6.66667,
            8.57143,
            10.6667,
            10.9649,
            12.6686,
            12.5182,
            14.7338,
            14.802,
            15.4202,
            18.269,
            19.3126,
            19.9578,
            19.832,
            20.0618,
            19.708,
            19.8929,
            19.6968,
            19.8697,
            19.8517,
            19.8832,
            20.0947,
            20.1026,
            ]
    }, {
        name: 'Intel MKL',
        data: [
            3.33333,
            8,
            12.8571,
            15.2381,
            14.2045,
            15.4839,
            16.4508,
            17.2681,
            17.1328,
            17.6678,
            20.7013,
            21.443,
            21.6461,
            21.4946,
            21.65,
            21.6364,
            21.7628,
            21.7699,
            22.1064,
            22.0591,
            22.183,
            22.421,
            22.4576,
            ]
    }, {
        name: 'Apple Accelerate',
        data: [
            1.81818,
            4,
            4.57627,
            5.03937,
            5.16529,
            5.31365,
            5.38462,
            5.88506,
            5.84603,
            5.81058,
            6.28536,
            6.10425,
            6.42096,
            6.398,
            6.39696,
            6.36934,
            6.37084,
            6.21531,
            6.29091,
            6.27704,
            6.33413,
            6.27911,
            6.31907,
            ]
    }]
});

$('#chart_complex_double').highcharts({
    subtitle: {
        text: 'Complex double precision',
        x: -20 //center
    },
    title: {
        text: 'General Matrix-matrix Multiplication',
        x: -20
    },
    xAxis: {
        title: {
            text: 'Matrix Size (m = n = k)'
        },
        categories: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100,
    200, 300, 500, 600, 700, 800, 900, 1000,
    1200, 1400, 1600, 1800, 2000]
    },
    yAxis: {
        title: {
            text: 'GFLOPS'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: ' GFLOPS'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
        name: 'Mir GLAS',
        data: [
            4,
            5.92593,
            6.83544,
            8,
            8.14332,
            9.01879,
            8.97906,
            9.2922,
            9.25127,
            9.7561,
            10.3252,
            10.5628,
            10.5572,
            10.6548,
            10.735,
            10.4021,
            10.7439,
            10.8849,
            10.5772,
            10.8421,
            10.814,
            10.8683,
            10.8934,
            ]
    }, {
        name: 'OpenBLAS',
        data: [
            2.5,
            4.84848,
            5.5102,
            6.36816,
            7.18391,
            8.16635,
            8.00467,
            8.56904,
            8.61193,
            8.56164,
            9.72172,
            9.26784,
            9.87186,
            9.80377,
            9.79013,
            9.7793,
            9.77699,
            9.83722,
            9.83887,
            9.80213,
            9.9795,
            9.91657,
            9.86693,
            ]
    }, {
        name: 'Intel MKL',
        data: [
            2.5,
            4,
            6.66667,
            7.80488,
            7.37463,
            7.85455,
            8.41718,
            8.46981,
            8.68374,
            8.25083,
            10.1234,
            10.4918,
            10.6714,
            10.6066,
            10.8452,
            10.7552,
            10.9051,
            10.9514,
            11.074,
            11.0464,
            11.1363,
            11.1879,
            11.212,
            ]
    }, {
        name: 'Apple Accelerate',
        data: [
            1.81818,
            2.35294,
            2.53521,
            2.66112,
            2.71739,
            2.77101,
            2.70932,
            2.91406,
            2.74783,
            2.95029,
            3.13118,
            3.17823,
            3.17182,
            3.16436,
            3.15685,
            3.14245,
            3.13947,
            3.15791,
            3.16475,
            3.13441,
            3.14434,
            3.0758,
            3.11355,
            ]
    }]
});
</script>